@font-face {
  font-family: 'Mainfont';
  src: url('../fonts/DMSerifDisplay-Regular.ttf') format('truetype');
}

@media screen and (max-width: 720px) {
  .header .home a {
    font-size: 32px;
    margin-left: 10px;
  }

  .header .link {
    width: 150px;
  }

  .header .link a {
    font-size: 18px;

  }
}

a {
  text-decoration: none;
}

.header {
  font-family: Mainfont, serif;
  height: 100px;
  background-color: #E3CAF7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.home a {
  font-size: 47px;
  color: #9557B2;
  text-decoration: none;
  margin-left: 50px;
  order: 1;
}

.link {
  order: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 30vw;
}

.link :hover {
  background-color: #CAAAFF;
}

.link a {
  color: #000;
  font-size: 27px;
}