@font-face {
  font-family: 'AuthorFont';
  src: url('../fonts/BadScript-Regular.ttf') format('truetype');

}

@font-face {
  font-family: 'TextFont';
  src: url('../fonts/Philosopher-Regular.ttf') format('truetype');
}

.quote {
  background-color: #fff;
  opacity: 1;
  transition: opacity 1s;
  height: 250px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.quote-text {
  font-family: TextFont, serif;
  font-size: 30px;
  text-align: center;
}

.quote-author {
  font-family: AuthorFont, sans-serif;
  font-size: 30px;
  font-style: italic;
  margin: 10px;
}

.quote-show {
  opacity: 1;
}

.quote-hide {
  opacity: 0;
}